//FONTES

$fonte: 'roboto', sans-serif;

//CORES
$cor-de-fundo: #FBF8F1;
$cor-primaria: #555555;
$cor-secundaria: #6D9886 ;
$cor-terciaria: #F2E7D5 ;

//Cor do Título

$cor-titulo: #85586F;
$cor-paragrafo: #393E46;
$cor-cupom: #EEE3CB;